.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.headerTop {
  height: 70px;
  width: 100%;
  background-color: #228b22;
}
.headerElements {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
.navbarWrapper {
  width: 100%;
  height: 60px;
  background-color: #006400;
}
.navbarItems {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 0 20px;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  max-width: 1200px;
}
.navLink {
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
}
span {
  color: #fff;
  font-size: 2.2rem;
  padding: 0 25px;
  margin: 0 1.5rem;
}
.social {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.fa-brands {
  font-size: 30px;
  margin-right: 2rem;
  color: #fff;
}
.navbarFb {
  display: none;
}
.fa-brands:hover {
  color: rgb(253, 253, 58);
  cursor: pointer;
}
.headerLogo {
  position: absolute;
  width: 130px;
  max-width: 100%;
  top: 2px;
  left: 120px;
  cursor: pointer;
}

.menuIcons {
  display: none;
}

ul {
  display: block;
  list-style: none;
}

.navLink span {
  font-size: 18px;
  padding: 0 30px;
  margin: 0 1.5rem;
  cursor: pointer;
}
ul > .navLink > a {
  display: flex;
  height: 60px;
  align-items: center;
  color: #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  z-index: 111;
  cursor: pointer;
}
.navLink-child {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 130px;
  background: #006400;
  display: none;
  z-index: 111;
}

.navLink-child a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.8rem 20px;
  font-size: 14px;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
  text-decoration: none;
  color: #fff;
}
.navLink span:hover {
  color: rgb(253, 253, 58);
}
.navLink:hover .navLink-child {
  display: block;
}

.navLink-child a:hover {
  background-color: #228b22;
}

@media (max-width: 1600px) {
  .headerElements {
    padding: 15px 5px;
  }
  span {
    color: #fff;
    font-size: 1.7rem;
    padding: 0 2rem;
    margin: 0 0 0 150px;
  }
  .headerLogo {
    width: 130px;
    max-width: 100%;
    top: 0;
    left: 60px;
    cursor: pointer;
  }
}

@media (max-width: 1400px) {
  .headerElements {
    padding: 15px 20px;
  }
  .navLinks {
    max-width: 900px;
    margin: 0 auto;
  }
  span {
    color: #fff;
    font-size: 1.8rem;
    padding: 0 2.5rem;
    margin: 0 0 0 200px;
  }
  .navLink span {
    font-size: 18px;
    padding: 0 10px;
    margin: 0 1rem;
    cursor: pointer;
  }
  .headerLogo {
    width: 120px;
    max-width: 100%;
    top: 5px;
    left: 30px;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .headerTop {
    display: none;
  }
  .navbarFb {
    display: flex;
    position: absolute;
    justify-content: end;
    top: 15px;
    right: 15px;
  }

  .headerLogo {
    display: block;
    width: 60px;
    top: 0;
  }
  .navLink span {
    font-size: 15px;
    margin: 0;
  }
  .navLink-child {
    top: 60px;
  }

  .navLink-child a {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbarFb {
    position: absolute;
    font-size: 25px;
    right: 50%;
    margin: 0 auto;
    cursor: pointer;
  }
  .menuIcons {
    position: absolute;
    z-index: 9999;
    font-size: 25px;
    aspect-ratio: 1;
    top: 15px;
    right: 40px;
    display: block;
    color: #fff;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 250px;
    background-color: #006400;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    padding: 10px;

    transform: translateX(250px);
    transition: transform 0.3s 0.1s ease-in-out;
  }

  .navLinks span {
    border-bottom: 1px solid black;
  }

  .--active {
    transform: translateX(0px);
  }
}
@media (max-width: 567px) {
  .headerLogo {
    width: 50px;
  }

  .navLinks {
    height: 60vh;
    width: 100%;
    background-color: #006400;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    padding: 30px;
    border-top: 1px solid black;
    transform: translateX(500px);
    transition: transform 0.3s 0.1s ease-in-out;
  }
  .navLink span {
    font-size: 30px;
  }
  .--active {
    transform: translateX(0px);
  }
}
