.containerKontakt h1 {
  font-size: 54px;
  font-style: italic;
  padding-top: 50px;
  opacity: 1;
}
.kontakt {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  text-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
  line-height: 1.4;
  letter-spacing: 0.3px;
  padding-top: 40px;
  max-width: 1200px;
  margin: 20px auto;
}
.kontaktBoisko,
.kontaktPrezes,
.kontaktSala {
  flex: calc(20% - 10px);
  padding: 10px 20px;
}
.kontaktIcon {
  font-size: 45px;
  margin-bottom: 10px;
}
.kontaktNumer {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.kontaktNumer:hover {
  color: #228b22;
  border-bottom: solid 2px #006400;
}
.iframe {
  margin-top: 13px;
}
@media (max-width: 1024px) {
  .containerKontakt h1 {
    font-size: 50px;
    padding-top: 30px;
    opacity: 1;
  }
  .kontakt {
    margin-top: 20px;
  }
  .kontakt h3 {
    font-size: 28px;
  }
  .kontakt p {
    font-size: 20px;
  }
  .kontaktIcon {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .containerKontakt h1 {
    font-size: 50px;
    padding-top: 20px;
    opacity: 1;
  }
  .kontakt {
    margin-top: 0;
    display: block;
  }
  .kontakt h3 {
    font-size: 30px;
  }
  .kontakt p {
    font-size: 24px;
  }
  .kontaktIcon {
    font-size: 60px;
  }
}
@media (max-width: 567px) {
  .containerKontakt h1 {
    font-size: 40px;
    padding-top: 20px;
    opacity: 1;
  }
  .kontakt {
    margin-top: 0;
  }
  .kontakt h3 {
    font-size: 28px;
  }
  .kontakt p {
    font-size: 20px;
  }
  .kontaktIcon {
    font-size: 40px;
  }
}
